gunicorn==21.2.0
psutil
docx
Flask
speechrecognition
pyttsx3
moviepy
cryptography
PyDrive
mysql-connector-python
fpdf
python-docx
assemblyai
werkzeug
pydrive2
tk
pyaudio
ffmpeg
gTTS

